{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="sidebar">
    <h3>Origin</h3>
    <ul>
      <li>
        <a href="{% url 'sheetmusic-list' %}">All</a>
      </li>
      <li>
        <a href="/shop/?original=True">Original</a>
      </li>
      <li>
        <a href="/shop/?original=False">Arrangement</a>
      </li>
    </ul>
    <h3>Genres</h3>
    <ul>
      {% for g in genres %}
        <li>
          <a href="/shop/?genre={{ g.slug }}">{{ g.name }}</a>
        </li>
      {% endfor %}
    </ul>
    <h3>Instruments</h3>
    <ul>
      {% for i in instruments %}
        <li>
          <a href="/shop/?instrument={{ i.slug }}">{{ i.name }}</a>
        </li>
      {% endfor %}
    </ul>
    <h3>Formats</h3>
    <ul>
      {% for f in formats %}
        <li>
          <a href="/shop/?_format={{ f.slug }}">{{ f.name }}</a>
        </li>
      {% endfor %}
    </ul>
</div>
<div id="main" class="product-list">
    <h1>Products</h1>
    {% for sheet in sheetmusic %}
      <div class="item">
        <a href="{{ sheet.get_absolute_url }}">
          <img src="{% static 'img/no_image.png' %}">
        </a>
        <a href="{{ sheet.get_absolute_url }}">{{ sheet.title }}</a>
        <br>
        ${{ sheet.cost }}
      </div>
    {% endfor %}
</div>
{% endblock %}