{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="sidebar" style="width:220px;padding:30px 20px 0 0;float:left;">
    <h3>Origin</h3>
    <ul>
      <li>
        <a href="{% url 'sheetmusic-list' %}">All</a>
      </li>
      <li>
        <a href="/shop/?original=True">Original</a>
      </li>
      <li>
        <a href="/shop/?original=False">Arrangement</a>
      </li>
    </ul>
    <h3>Genres</h3>
    <ul>
      {% for g in genres %}
        <li>
          <a href="/shop/?genre={{ g.slug }}">{{ g.name }}</a>
        </li>
      {% endfor %}
    </ul>
    <h3>Instruments</h3>
    <ul>
      {% for i in instruments %}
        <li>
          <a href="/shop/?instrument={{ i.slug }}">{{ i.name }}</a>
        </li>
      {% endfor %}
    </ul>
    <h3>Formats</h3>
    <ul>
      {% for f in formats %}
        <li>
          <a href="/shop/?_format={{ f.slug }}">{{ f.name }}</a>
        </li>
      {% endfor %}
    </ul>
</div>
<div id="main" class="product-list">
    <h1>Products</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for sheet in sheetmusic %}
    <div class="col">
      <div class="card shadow-sm">
        <a href="{{ sheet.get_absolute_url }}">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>{{sheet.description}}</title>
            <image width="100%" height="225" preserveAspectRatio="none" xlink:href="{% static 'img/no_image.png' %}" />
          </svg>
        </a>
        <div class="card-body">
          <p class="card-text">{{ sheet.title }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            </div>
            <small class="text-muted">${{ sheet.cost }}</small>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
{% endblock %}